.ytp-progress-bar {
  display: none;
}

.ytp-chapter-container {
  display: none;
}

.ytp-time-duration,
.ytp-time-separator {
  visibility: hidden;
}

#related,
#comments {
  display: none;
}

.html5-endscreen {
  display: none;
}
